
<div class="row">
	
	<div class="span4 offset2">
		
      <form class="form-signin" method="POST" action="/user/register">
      
      	<h2 class="form-signin-heading">Register</h2>
      
		<? if( $this->addErrors ): ?>
		    <div class="alert alert-error">
		   		<h4>Errors in registration</h4>
		   		<ul>
		   		<?php foreach($this->addErrors as $key => $errors):?>
		   			<?php foreach($errors as $thisError):?>
		   				<li><?php echo $thisError; ?></li>
		   			<?php endforeach;?>
		   		<?php endforeach;?>
		    	</ul>
		    </div>
		<? endif;?>      
        
        <input type="text" name="email" value="<?= $this->escape( $this->email ) ?>" class="input-block-level" placeholder="Email address" autocomplete="off" />
        <input type="text" name="firstname" class="input-block-level" placeholder="Firstname" />
        <input type="text" name="lastname" class="input-block-level" placeholder="Lastname" />
        <input type="password" name="password1" class="input-block-level" placeholder="Password" autocomplete="off" />
        <input type="password" name="password2" class="input-block-level" placeholder="Password Repeat" autocomplete="off" />
        <button class="btn btn-large btn-primary" type="submit">Register</button>
      </form>
	
	</div>
	
	<div class="span4">
	
      <form class="form-signin" method="POST" action="/user/submit">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" name="email" class="input-block-level" placeholder="Email address" />
        <input type="password" name="password" class="input-block-level" placeholder="Password" />
        <label class="checkbox">
          <input type="checkbox" name="rememberme" value="true" /> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>
	
	</div>

</div>
