    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Zend Framework Base</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <? if( Application_Model_User::hasIdentity() ): ?>
              	<li><a href="/user/logout">Logout</a></li>
              <? else: ?>
              	<li><a href="/user/login">Login</a></li>
              <? endif;?>              
            </ul>
            <? if( Application_Model_User::hasIdentity() ): ?>
			<p class="navbar-text pull-right">
              <?= Application_Model_User::getCurrentUserIdentity()->email ?>
	            </p>
            <? endif;?>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>