<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <?= $this->headTitle();?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    

	<link rel="shortcut icon" href="/img/favicon.png">

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
    <link href="/css/style.css" rel="stylesheet">
    
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	
  </head>

  <body>
	
	<? if( $this->layout()->showheader !== false ): ?>
		<?= $this->render( 'header.phtml' );?>
	<? endif;?>	

    <div class="container">
		
		<?php echo $this->layout()->content ?>		
		
    </div> <!-- /container -->

	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>